body {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.calculation {
  color: white;
}

button {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  font-size: 16px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
  border: none;
}

.gray-buttons {
  background-color: rgb(70, 69, 69);
}

.orange-button {
  background-color: darkorange;
}
